@model Scrasp.Models.Project

@{
  ViewBag.Title = "Project details";
}

<h2>Project details</h2>

<form action="/Projects/Edit/@Model.id" method="post" class="@(ViewBag.fromEdit == true ? "fromEdit" : "")" >
  @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.id)

            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>

            <dd>
                <div class="toggle-hidden">@Html.DisplayFor(model => model.title)</div>
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "default-hidden" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.projectDescription)
            </dt>

            <dd>
                <div class="toggle-hidden">@Html.DisplayFor(model => model.projectDescription)</div>
                @Html.EditorFor(model => model.projectDescription, new { htmlAttributes = new { @class = "default-hidden" } })
                @Html.ValidationMessageFor(model => model.projectDescription, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.refRepo)
            </dt>

            <dd>
                <div class="toggle-hidden">@Html.DisplayFor(model => model.refRepo)</div>
                @Html.EditorFor(model => model.refRepo, new { htmlAttributes = new { @class = "default-hidden" } })
                @Html.ValidationMessageFor(model => model.refRepo, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.startDate)
            </dt>

            <dd>
                <div class="toggle-hidden">@Html.DisplayFor(model => model.startDate)</div>
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "default-hidden" } })
                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.endDate)
            </dt>

            <dd>
                <div class="toggle-hidden">@Html.DisplayFor(model => model.endDate)</div>
                @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "default-hidden" } })
                @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
            </dd>

        </dl>

        <hr />
        @Html.Partial("~/Views/Stories/StoriesList.cshtml", Model.Stories)

    </div>
  <div class="row">
    <p>
      <a id="edit-btn" class="btn btn-warning toggle-hidden">Edit</a>
      <input id="save-btn" type="submit" value="Enregistrer" class="btn btn-success default-hidden" /> |
      @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-primary"})
    </p>
  </div>
</form>

@section scripts {
  <script type="text/javascript">
    $(document).ready(function ($) {

        if ($('.fromEdit').length == 0) {
            $(".default-hidden").hide();
        }
        else {
            $(".toggle-hidden").hide();
            $(".default-hidden").show();
        }

        $("#edit-btn").click(function () {
            $(".toggle-hidden").hide();
            $(".default-hidden").show();
        });
    });
  </script>
}