@model Scrasp.Models.Project
@using Scrasp.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refRepo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refRepo)
        </dd>

    </dl>
</div>

<div class="row">
    <h4>Stories associées</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Acteur</th>
                <th>Type</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var story in Model.Stories)
            {
                <tr>
                    <td>@story.shortName</td>
                    <td>@story.actor</td>
                    <td>@story.StoryType.typeName</td>
                    <td>@story.StoryState.stateName</td>
                </tr>
            }
            <tr></tr>
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
