@model Scrasp.Models.Project
@using Scrasp.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    @using (Html.BeginForm("Edit", "Projects"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>

            <dd class="details">
                @Html.DisplayFor(model => model.title)
            </dd>
            <dd class="edit">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.projectDescription)
            </dt>

            <dd class="details">
                @Html.DisplayFor(model => model.projectDescription)
            </dd>
            <dd class="edit">
                @Html.EditorFor(model => model.projectDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.projectDescription, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.refRepo)
            </dt>

            <dd class="details">
                @Html.DisplayFor(model => model.refRepo)
            </dd>
            <dd class="edit">
                @Html.EditorFor(model => model.refRepo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.refRepo, "", new { @class = "text-danger" })
            </dd>

            <input type="submit" value="Save" class="edit btn btn-default" />
        </dl>
    }
</div>
    

<div class="row">
    <h4>Stories associées</h4>
    <button class="btn">@Html.ActionLink("Nouvelle story", "Create", "Stories", new { id = Model.id }, null)</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Acteur</th>
                <th>Type</th>
                <th>Etat</th>
                <th class="edit">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var story in Model.Stories)
            {
                <tr>
                    <td>@story.shortName</td>
                    <td>@story.actor</td>
                    <td>@story.StoryType.typeName</td>
                    <td>@story.StoryState.stateName</td>
                    <td class="edit">@Html.ActionLink("Supprimer", "Delete", "Stories", new { id = story.id }, null)</td>
                </tr>
            }
            <tr></tr>
        </tbody>
    </table>
</div>

<p>
    <button class="btn btn-primary show-edit details">Edit</button>
    <button class="btn btn-primary cancel-edit edit">Cancel edit</button>
    @Html.ActionLink("Back to List", "Index")
</p>
