@model Scrasp.Models.Project

@{
  ViewBag.Title = "Project details";
}

@section styles {
  <style>
    .default-hidden {
      display: none;
    }
  </style>
}

<h2>Project details</h2>

<form action="/Projects/Edit/@Model.id" method="post">
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="toggle-hidden">@Html.DisplayFor(model => model.title)</div>
        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control default-hidden" } })
        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.projectDescription, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="toggle-hidden">@Html.DisplayFor(model => model.projectDescription)</div>
        @Html.EditorFor(model => model.projectDescription, new { htmlAttributes = new { @class = "form-control default-hidden" } })
        @Html.ValidationMessageFor(model => model.projectDescription, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.refRepo, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="toggle-hidden">@Html.DisplayFor(model => model.refRepo)</div>
        @Html.EditorFor(model => model.refRepo, new { htmlAttributes = new { @class = "form-control default-hidden" } })
        @Html.ValidationMessageFor(model => model.refRepo, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.startDate, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="toggle-hidden">@(Model.endDate != null ? Convert.ToDateTime(Model.startDate).ToString("dd.MM.yyyy") : "")</div>
        @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control default-hidden" } })
        @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.endDate, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="toggle-hidden">@(Model.endDate != null ? Convert.ToDateTime(Model.endDate).ToString("dd.MM.yyyy") : "")</div>
        @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control default-hidden" } })
        @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input id="save-btn" type="submit" value="Enregistrer" class="btn btn-success default-hidden" />
      </div>
    </div>

  </div>

</form>


<hr />
<p>
  <h3>Stories</h3> 
  <a class="btn btn-success default-hidden" href="/Stories/Create/@Model.id">Ajouter</a>
</p>
@Html.Partial("~/Views/Stories/StoryList.cshtml", Model.Stories)
<div class="row">
  <p>
    <button id="edit-btn" class="btn btn-warning toggle-hidden">Edit</button>
    <button id="cancel-btn" class="btn btn-warning default-hidden">Cancel</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
  </p>
</div>

@section scripts {
  @if (ViewBag.EditMode != null) {
    <script type="text/javascript">
      $(document).ready(function($) {
        $(".toggle-hidden").hide();
        $(".default-hidden").show();
      });
    </script>
  }
  <script type="text/javascript">
    $(document).ready(function ($) {

      //$("#startDate").val($("#startDate").val());

      $("#edit-btn").click(function() {
        $(".toggle-hidden").hide();
        $(".default-hidden").show();
      });
      $("#cancel-btn").click(function() {
        $(".toggle-hidden").show();
        $(".default-hidden").hide();
      });
    });
  </script>
}