@model Scrasp.Models.Project

@{
  ViewBag.Title = "Project details";
}

<h2>Project details</h2>

<form action="/Projects/Edit/@Model.id" method="post">
  @Html.AntiForgeryToken()
  <div>
    <hr />
    <dl class="dl-horizontal">
      @Html.HiddenFor(model => model.id)

      <dt>
        @Html.DisplayNameFor(model => model.title)
      </dt>

      <dd>
        <div class="toggle-hidden">@Html.DisplayFor(model => model.title)</div>
        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "default-hidden" }})
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.projectDescription)
      </dt>

      <dd>
        <div class="toggle-hidden">@Html.DisplayFor(model => model.projectDescription)</div>
        @Html.EditorFor(model => model.projectDescription, new { htmlAttributes = new {@class = "default-hidden" }})
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.refRepo)
      </dt>

      <dd>
        <div class="toggle-hidden">@Html.DisplayFor(model => model.refRepo)</div>
        @Html.EditorFor(model => model.refRepo, new { htmlAttributes = new { @class = "default-hidden" }})
      </dd>

    </dl>

    <hr />
    <p><h3>Stories</h3> <a class="btn btn-success default-hidden" href="/Stories/Create/@Model.id">Ajouter</a></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>@Html.DisplayNameFor(model => model.Stories.First().shortName)</th>
          <th>@Html.DisplayNameFor(model => model.Stories.First().actor)</th>
          <th>@Html.DisplayNameFor(model => model.Stories.First().storyDescription)</th>
          <th>@Html.DisplayNameFor(model => model.Stories.First().StoryState.stateName)</th>
          <th>@Html.DisplayNameFor(model => model.Stories.First().StoryType.typeName)</th>
          <th class="default-hidden">Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var story in Model.Stories) {
          <tr>
            <td>@story.shortName</td>
            <td>@story.actor</td>
            <td>@story.storyDescription</td>
            <td>@story.StoryState.stateName</td>
            <td>@story.StoryType.typeName</td>
            <td class="default-hidden"><a class="btn btn-danger" href="/Stories/Delete/@story.id">Supprimer</a></td>
          </tr>
        }
        <tr></tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <p>
      <a id="edit-btn" class="btn btn-warning toggle-hidden">Edit</a>
      <input id="save-btn" type="submit" value="Enregistrer" class="btn btn-success default-hidden" /> |
      @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-primary"})
    </p>
  </div>
</form>

@section scripts {
  <script type="text/javascript">
    $(document).ready(function ($) {

      $(".default-hidden").hide();

      $("#edit-btn").click(function () {
        $(".toggle-hidden").hide();
        $(".default-hidden").show();
      });
    });
  </script>
}