@model Scrasp.Models.Project

@{
    /**/

    ViewBag.Title = "Edit";
}

<h2>Projet @Model.title</h2>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.projectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projectDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.projectDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.refRepo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.refRepo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.refRepo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <h4>Stories du projet</h4>
    <a class="btn btn-primary">Ajouter une story</a>
    <br/><br />
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>Nom</th>
            <th>Action</th>
            <th>Supprimer</th>
        </tr>
        @foreach (var story in Model.Stories)
        {
            <tr class="hover" data-href="@Url.Action("Details", "Stories", new { id = story.id})" title="Voir les détails de la story : @story.id">
                <td>@story.shortName</td>
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">@Html.ActionLink("Voir", "Details", "Stories", new { id = story.id }, new { @class = "btn btn-primary" })</td>
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input class="delete-story" name="remove" type="checkbox" value="@story.id" disabled="disabled"/></td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-12">
            <a class="btn btn-warning btn-mode-controller mode-edit">Éditer</a>
        </div>
        <br />
        <div class="col-md-12">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("a.btn-mode-controller").click(function () {
            // Click on an edit button
            if ($(this).hasClass("mode-edit")) {
                // Enable each form-control
                $(".form-control").each(function (i) {
                    $(this).prop('disabled', false);
                });
                $("input.delete-story").each(function (i) {
                    $(this).prop('disabled', false);
                });
                // Change the current button mode
                $(this).removeClass("btn-warning mode-edit");
                $(this).addClass("btn-danger mode-cancel");
                $(this).text("Annuler")
                // Add the submit button after the current button mode
                $(this).after("<button class=\"btn btn-success margin-left\">Sauver</button>");
            }
            // Click on an cancel button
            else if ($(this).hasClass("mode-cancel")) {
                // Disable each form-control
                $(".form-control").each(function (i) {
                    $(this).prop('disabled', true);
                });
                $("input.delete-story").each(function (i) {
                    $(this).prop('disabled', true);
                });
                // Change the current button mode
                $(this).removeClass("btn-danger mode-cancel");
                $(this).addClass("btn-warning mode-edit");
                $(this).text("Éditer")
                // Remove the submit button
                $(this).next("button").remove();
            }
        });

    </script>
}
