@model IEnumerable<Scrasp.Models.Project>

@{
  ViewBag.Title = "Projects";
}

@section styles {
  <style>
    .clickable-row { cursor: pointer; }
  </style>
}

<h2>Projects</h2>
<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>
              @Html.DisplayNameFor(model => model.title)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.projectDescription)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.refRepo)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.startDate)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.endDate)
          </th>
      </tr>
  </thead>

  <tbody>
  @foreach (var item in Model) {
      <tr class='clickable-row' data-href='@Url.Action("Details", "Projects", new {id=item.id})'>
          <td>
              @Html.DisplayFor(modelItem => item.title)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.projectDescription)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.refRepo)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.startDate)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.endDate)
          </td>
      </tr>
  }
  </tbody>

</table>

@section scripts {
  <script type="text/javascript">
    $(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });
    });
  </script>
}