@model Scrasp.Models.Story
@using Scrasp.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sprint.sprintDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprint.sprintDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoryState.stateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryState.stateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoryType.typeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryType.typeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h4>Tâches liées</h4>
@if (Model.Jobs.Count == 0)
{
    <p>Aucune</p>
}
else
{
    foreach (Job j in Model.Jobs)
    {
        <p>@j.jobDescription</p>
    }
}

<h4>Tâches libres</h4>
@if (Model.JobCandidates.Count == 0)
{
    <p>Aucune</p>
}
else
{
    foreach (Job j in Model.JobCandidates)
    {
        <p>@j.jobDescription</p>
    }
}
