@model IEnumerable<Scrasp.Models.Story>

@{
    ViewBag.Title = "Stories";
}

<h2>Stories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprint.sprintDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryState.stateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryType.typeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprint.sprintDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryState.stateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryType.typeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

