@model Scrasp.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobState.stateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobState.stateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScraspUser.AspNetUsers_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScraspUser.AspNetUsers_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Story.shortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Story.shortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
