@{

}

<h2>Team management</h2>


<table class="table table-striped table-hover table-bordered">
    <tr>
        <th class="col-xs-2"></th>
        @foreach (var project in ViewBag.projects)
        {
            <th class="text-center col-xs-2">@project.title</th>
        }
    </tr>
    @foreach (var user in ViewBag.users)
    {
    <tr data-id="@user.id">
        <th>@user.username</th>
        @foreach (var project in ViewBag.projects)
        {
        <td class="text-center">
            @foreach (var team in ViewBag.teams)
            {
                if (team.Projects_id == project.id && team.ScraspUsers_id == user.id)
                {
                    <input type="checkbox" value="@project.id" checked="checked"/>
                }
                else
                {
                    <input type="checkbox" value="@project.id"/>
                }

            }
        </td>
        }
    </tr>
    }

</table>

@section Scripts {
    <script>

        $(":checkbox").change(function () {
            if (this.checked) {
                var projectId = $(this).val();
                var userId = $(this).parent().parent().data("id");
                $.ajax({
                    url: '/API/addTeams',
                    data: {
                        projectId: projectId,
                        userId: userId,
                    },
                    error: function () {
                        console.log("Error");
                    },
                    success: function (data) {
                        alert(data);
                    },
                    type: "POST"
                });
            }else {
                alert("unchecked");
                console.log(this.val());
            }
        });


        /*$(document).ready(function () {
            $.ajax({
                url: '/API/addTeams',
                data: {
                    projectId: 1,
                    userId: 1,
                },
                error: function () {
                    console.log("Error");
                },
                success: function (data) {
                    alert("dataLength : " + data.length);
                },
                type: "POST"
            });
        });*/
    </script>
 }