@model Scrasp.Models.TeamManagementViewModel

<h2>Team management</h2>


<table class="table table-bordered">
  <tr>
    <th class="col-xs-2"></th>
    @foreach (var project in Model.projects) {
      <th class="text-center col-xs-2">@project.title</th>
    }
  </tr>
  @foreach (var user in Model.users) {
    <tr>
      <th>@user.username</th>
      @foreach (var project in Model.projects) {
        <td class="text-center userteam @(Model.teams.Exists(t => t.Projects_id == project.id && t.ScraspUsers_id == user.id) ? "isinteam" : "")" data-project="@project.id" data-user="@user.id"></td>
      }
    </tr>
  }

</table>

@section scripts {
  <script src="~/Scripts/App/teamManagement.js"></script>
}

@section styles {
  <link href="~/Content/App.css" rel="stylesheet">
}