@using Scrasp.Models
@model IEnumerable<Scrasp.Models.Team>

@{
  ViewBag.Title = "Team Managment";
}

@section styles {
  <style type="text/css">
    .checked-cell { background-color: #3FC380; }

    .click-cell { cursor: pointer; }
  </style>
}

<h2>Team Managment</h2>

<div id="error-container">

</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>User</th>
    @foreach (Project project in ViewBag.Projects) {
      <th>@project.title</th>
    }
  </tr>
  </thead>
  <tbody>
  @foreach (ScraspUser user in ViewBag.Users) {
    <tr>
      <td>
        <b>@user.username</b>
      </td>
      @foreach (Project project in ViewBag.Projects) {
        <td class="@(user.HasProject(project.id) ? "checked-cell" : "") click-cell" data-project_id="@project.id" data-user_id="@user.id"></td>
      }
    </tr>
  }
  </tbody>
</table>

@section scripts {
  <script type="text/javascript">
    $(document).ready(function() {
      $(".click-cell").dblclick(function () {
        $(".alert").remove();
        var apiUrl = "/api/TeamsAPI";
        var apiType;
        var data = { Projects_id: $(this).data("project_id"), ScraspUsers_id: $(this).data("user_id") }
        if (!$(this).hasClass("checked-cell")) {
          apiType = "POST";
        } else {
          apiType = "DELETE";
        }
        var self = $(this);
        $.ajax({
          url: apiUrl,
          data: JSON.stringify(data),
          contentType: "application/json",
          type: apiType,
          success: function() {
            if (apiType === "POST") {
              self.addClass("checked-cell");
            } else if(apiType === "DELETE") {
              self.removeClass("checked-cell");
            }
          },
          error: function (jqXhr, textStatus, errorThrown) {
            var popup = '<div class="alert alert-danger alert-dismissible" role="alert">';
            popup += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
            popup += '<strong>Error!</strong> The user has an active job and can\'t be removed from the project!</div>';
            if (jqXhr.status === 403) {
              $("#error-container").append(popup);
            }
          }
        });
      });
    });
  </script>
}