@using Microsoft.AspNet.Identity
@model Scrasp.Models.DashboardViewModels

<h2>Dashboard</h2>

<h3>Mes projets</h3>

<table class="table table-bordered">
    <tr>
        <th>Titre</th>
        <th>Description du projet</th>
        <th>Repository Git</th>
    </tr>
    <!-- Display projects -->
    @foreach (var project in Model.projects)
    {
        <!-- Is it the logged user projet's ?-->
        if (Model.teams.Exists(t => t.Projects_id == project.id && t.ScraspUsers_id == Model.loggedUser.id))
        {
            <tr>

                <td>@project.title</td>
                <td>@project.projectDescription</td>
                <td>@project.refRepo</td>
            </tr>
        }

    }
</table>

<h3>Mes tâches</h3>

<table class="table table-bordered">
    <tr>
        <th>Description du job</th>
        <th>Etat</th>
        <th></th>
    </tr>
    <!-- Display jobs -->
    @foreach (var job in Model.jobs)
    {
    <tr id="jobs-@job.id">
        @{if (job.ScraspUsers_id == Model.loggedUser.id)
        {
            <td>@job.jobDescription</td>
            <td>@job.JobState.stateName</td>
            <!-- Is it the logged user jobs's ?-->
        if (job.JobState.stateName.Equals("En cours"))
        {
            <td>
                <button type="button" class="btn btn-primary job-close" onclick="closeJob(@job.id)">Fermer</button>
            </td>

    }
    else
    {
        <td></td>}


}
        }
    </tr>
    }

</table>

@section scripts {
    <script src="~/Scripts/App/dashboard.js"></script>
}